@CHARSET "UTF-8";

.content {
	color: rgba(0, 0, 0, .8);
	font-family:"微软雅黑";
}
.content ul{
	list-style: none;
	
}
/*覆盖默认btn*/
.navbar-form{
	padding-top:-1px;
}
.content .count{
	padding:20px 20px;
}
.content .table-result{
	padding:20px;
}
/*覆盖按钮默认样式*/
.btn{
	border-radius: 5px; 
	padding: 20px;
	background-color:#37A6AA;
	color:#f5f5f5;
	font-family:"微软雅黑";
	height:20px;
}
/*覆盖默认面板布局*/
.panel-default>.panel-heading{
	background-color:#37A6AA;
	color:#f5f5f5;
}
